body{
    background-color: rgb(207, 90, 90);
    font: normal 1rem Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}


header > h1 {
    color: #ffffff;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
}

section {
    background-color: #ffffff;
    border-radius: 10px;
    width: 80vw;
    box-shadow: 3px 3px 3px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    margin: 0 auto;
}

.txt-bold {
    font-weight: bold;
}

figure {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

footer {
    color: #ffffff;
    text-align: center;
    font-style: italic;
}